.box__brands{
display: flex;
gap:120px;
   height: 30px;
   width: 100%;
}

.brands{
   margin-top: -5px;
   display: flex;
   align-items: center;
   
   gap: 50px;
   height: 100px;
   background-color: black;

}