.box__brands{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
gap:120px;
   height: 30px;
   width: 100%;

   
   @media (max-width: 1200px) {
    grid-template-columns: 1fr ;
   }
}

.brands{
   margin-top: -5px;
   display: flex;
   align-items: center;
   
   gap: 50px;
   height: 100px;
   background-color: black;


}